@import './lib/fontawesome/scss/fontawesome.scss';
@import './lib/fontawesome/scss/solid.scss';
@import './lib/fontawesome/scss/brands.scss';

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: white;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    a {
        color: white;
    }
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        width: 24em;

        label {
            text-align: left;
        }
    }
}

hr {
    width: 99.5%; // wtf
    margin-top: 24px;
    border: 1px solid white;
}

i.header {
    font-size: 42px;
}

/* These button template look shit to me lol */
.fake-button,
button,
input[type='submit'] {
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: 2px solid #adadad;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 16px 24px;
    margin: 6px 0;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    &:disabled {
        opacity: 42%;
        color: #666666;
        cursor: not-allowed;
    }

    &:hover {
        color: black;
        background-color: #adadad;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
}

input:not([type='submit'], [type='radio'], [type='checkbox']) {
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 42px;
    justify-content: center;
    padding: 0 16px;
    margin: 6px 0;
    position: relative;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
    outline: none;

    &:hover,
    &:focus {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
}
